.discountSummer{
	&-container{
		background-color: #f0f0f0;
    padding: 6em 0;
    @media screen and (min-width: 46.2rem){
	    background-image: url(./img/sandalia-women.png), url(./img/rama-container.png);
	    background-repeat: no-repeat, no-repeat;
	    background-size: contain, 20%;
	    background-position: 6% 0, 100% 0;
	    background-origin: border-box;
	  }
	}
	&-content{
		width: 90%;
    margin: auto;
    /*display: flex;
    justify-content: space-between;
    background-image: url(./img/sandalia-women.png);
    background-color: #f3f3f5;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: left center;*/
		&__left{
	    //flex: .2;
		}
		&__right{
			padding: 2em 0;
			&-title{
				color: var(--colorOne);
		    @include font(title2);
		    font-weight: 600;
		    line-height: 1.3em;
		    @media screen and (max-width: 31rem){
					font-size: 28px;
				}
			}
			&-dateCount{
				display: flex;
   			margin: 1.5em 0;
   			overflow-x: scroll;
				&_day{
					text-align: center;
					&-number{
						font-family: 'Segoe UI Bold';
				    color: var(--colorFive);
				    @include font(title2);
				    @media screen and (max-width: 31rem){
							font-size: 32px;
						}
					}
					&-text{
						color: var(--colorThree);
    				@include font(smaller);
					}
					&:nth-child(1){
						margin-right: 1em;
					}
					&:nth-child(2){
						margin: 0 1em;
					}
					&:nth-child(3){
						margin: 0 1em;
					}
					&:nth-child(4){
						margin-left: 1em;
					}
					@media screen and (max-width: 31rem){
						//background-color: red;
					}
				}
				&::-webkit-scrollbar {
				  display: none;
				}
			}
			&-btnContainer{
				&_btn{
					@include button(tertiary)
				}
			}
		}
		@media screen and (min-width: 46.2rem){
			display: grid;
    	grid-template-columns: .9fr 1fr;
		}
	}
}