.shopper{
	&-content{
		width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    align-items: center;
    @media screen and (max-width: 900px){
    	grid-template-columns: repeat(5, 1fr);
    	.shopper-img{
    		margin-bottom: .9rem;
    	}
    }
    @media screen and (max-width: 800px){
    	grid-template-columns: repeat(4, 1fr);
    	.shopper-img{
    		margin-bottom: .9rem;
    	}
    }
    @media screen and (max-width: 640px){
    	grid-template-columns: repeat(2, 1fr);
    	.shopper-img{
    		margin-bottom: .9rem;
    	}
    	width: 50%;
    }
    @media screen and (max-width: 500px){
    	grid-template-columns: repeat(1, 1fr);
    	.shopper-img{
    		margin-bottom: .9rem;
    	}
    	width: 150px;
    }
	}
	&-container{
		background-color: #f0f0f0;
		padding: 3em 0;
	}
	&-img{
		justify-self: center;
	}
}