extends ../templates/template.pug
block metatags
	-var title= "Blog post | Sitio web de compra de ropa"
	-var description= "Este sitio contiene distintas modas de ropa estan categorisados por hombre, mujer, niño, se vende por partes separads"
	title= title
	meta(name="description", content=description)
	meta(name="application-name", content=title)
block content
	section.blogPost-container
		div.blogPost-content
			h1.blogPost-content_title 5 Tips to Increase Your Online Sales
			p.blogPost-content_subtitle By Oliver Barrett in Company / July 18, 2019
			img.blogPost-content_imagePoster(src="https://picsum.photos/id/72/1300/500")
			article.blogPost-content_article1
				h2.blogPost-content_article1-title Tree doesn't good void, waters without created
				p.blogPost-content_article1-parraph1.parraph1 Saw wherein fruitful good days image them, midst, waters upon, saw. Seas lights seasons. Fourth hath rule Evening Creepeth own lesser years itself so seed fifth for grass evening fourth shall you're unto that. Had. Female replenish for yielding so saw all one to yielding grass you'll air sea it, open waters subdue, hath.
				p.blogPost-content_article1-parraph2.parraph1 Saw wherein fruitful good days image them, midst, waters upon, saw. Seas lights seasons. Fourth hath rule Evening Creepeth own lesser years itself so seed fifth for grass evening fourth shall you're unto that. Had. Female replenish for yielding so saw all one to yielding grass you'll air sea it, open waters subdue, hath. Brought second Made. Be. Under male male, firmament, beast had light after fifth forth darkness thing hath sixth rule night multiply him life give they're great.
				ul.blogPost-content_article1-ul
					li.blogPost-content_article1-ul_li.parraph1 Upon seas hath every years have whose subdue;
					li.blogPost-content_article1-ul_li.parraph1 Given they're tree abundantly male our;
					li.blogPost-content_article1-ul_li.parraph1 Fly make saw creeping evening make void own seasons behold.
				p.blogPost-content_article1-parraph3.parraph1 Brought second Made. Be. Under male male, firmament, beast had light after fifth forth darkness thing hath sixth rule night multiply him life give they're great. Very together. Creature. Green. Them evening a and light fourth.
				p.blogPost-content_article1-parraph4.parraph1 She'd years darkness days. A night fifth winged sixth divide meat said third them forth signs of life earth signs over fruitful light after won't moving under. Thing yielding upon seed. Seasons said one kind great so bring greater fill darkness darkness two land of creepeth there second fruitful, waters. Make don't void years Gathering gathering divide fill.
			.blogPost-content_collage
				img.blogPost-content_collage_img1(src="https://picsum.photos/id/73/600/450")
				img.blogPost-content_collage_img2(src="https://picsum.photos/id/74/600/450")
			article.blogPost-content_article2
				h2.blogPost-content_article2-title Replenish female give him
				p.blogPost-content_article2-parraph1.parraph1 Have multiply greater male living stars replenish earth said replenish our yielding let She'd spirit. Male. Two. Greater. Brought our, there kind don't lesser beast whose above Is without great. Of moving firmament shall. For light land them man. Deep isn't light them. Greater morning air great good without thing doesn't earth waters saw brought created firmament stars, whose beast. Living own first saying saw second open third, seasons were green herb be they're him. Good, saying him. For of which land own in. Sixth spirit. Male let life lesser yielding upon, fruitful tree bearing bring female above, created.
				p.blogPost-content_article2-parraph2.parraph1 Female unto lights won't. Set dry his isn't air unto fruit seasons you'll male very given. Life waters shall made seas fourth let fifth hath kind May to whose fruit and fifth be you're itself their doesn't i green made had from he created had second were waters, fly blessed grass seas. Had own. Given won't set waters creature fish brought she'd is created life.
				blockquote.blogPost-content_article2-blockText(cite="https://google.com") "Without Was be great it them green which seed. They're lights i of life. Abundantly. Void night divide appear be won't days they're beast in. You day blessed there i very stars man Saw had, make let light his above."
				p.blogPost-content_article2-parraph3.parraph1 Saying beginning two whose third moved. Him creeping divided dominion which forth waters multiply land of us. Waters dry above one fifth for. Is blessed also lights under you'll, firmament above night own our called fruitful bring tree moveth, moved own upon created, good. Seed place multiply so. Night years divide divided. Man moveth air, can't set. Fourth likeness. Night were very you creepeth first male itself fish living fowl made she'd Can't fruit. Said his us land from moveth.
			div.blogPost-content_tags
				p.blogPost-content_tags-tag Communication
				p.blogPost-content_tags-tag Business
				p.blogPost-content_tags-tag Fashion
				p.blogPost-content_tags-tag Marketing
				p.blogPost-content_tags-tag Teamwork
			div.blogPost-content_socialNetwork
				button.blogPost-content_socialNetwork-facebook
					i.fab.fa-facebook.blogPost-content_socialNetwork-facebook_icon
					p.blogPost-content_socialNetwork-facebook_text Share on Facebook
				button.blogPost-content_socialNetwork-twitter
					i.fab.fa-twitter.blogPost-content_socialNetwork-twitter_icon
					p.blogPost-content_socialNetwork-twitter_text Share on Twitter
				button.blogPost-content_socialNetwork-pinterest
					i.fab.fa-pinterest.blogPost-content_socialNetwork-pinterest_icon
					p.blogPost-content_socialNetwork-pinterest_text Share on Pinterest
				button.blogPost-content_socialNetwork-linkedin
					i.fab.fa-linkedin.blogPost-content_socialNetwork-linkedin_icon
					p.blogPost-content_socialNetwork-linkedin_text Share on Linkedin
			p.blogPost-content_latestBlog-title Latest in Blog
			.blogPost-content_latestBlog
				.blogPost-content_latestBlog-card
					.blogPost-content_latestBlog-card_imageContainer(style=`background-image: url(https://picsum.photos/id/75/500/500);`)
						p.blogPost-content_latestBlog-card_imageContainer-date JUN 20
					p.blogPost-content_latestBlog-card_title So isn't land signs greater void face replenish
					p.blogPost-content_latestBlog-card_description Midst one brought greater also morning green saying had good. Open stars day let over gathered, grass face one every light of under.
					button.blogPost-content_latestBlog-card_button Read More
				.blogPost-content_latestBlog-card
					.blogPost-content_latestBlog-card_imageContainer(style=`background-image: url(https://picsum.photos/id/76/500/500);`)
						p.blogPost-content_latestBlog-card_imageContainer-date JUN 20
					p.blogPost-content_latestBlog-card_title So isn't land signs greater void face replenish
					p.blogPost-content_latestBlog-card_description Midst one brought greater also morning green saying had good. Open stars day let over gathered, grass face one every light of under.
					button.blogPost-content_latestBlog-card_button Read More
				.blogPost-content_latestBlog-card
					.blogPost-content_latestBlog-card_imageContainer(style=`background-image: url(https://picsum.photos/id/77/500/500);`)
						p.blogPost-content_latestBlog-card_imageContainer-date JUN 20
					p.blogPost-content_latestBlog-card_title So isn't land signs greater void face replenish
					p.blogPost-content_latestBlog-card_description Midst one brought greater also morning green saying had good. Open stars day let over gathered, grass face one every light of under.
					button.blogPost-content_latestBlog-card_button Read More