extends ../templates/template
block metatags
	-var title= "Blog | Sitio web de compra de ropa"
	-var description= "Este sitio contiene distintas modas de ropa estan categorisados por hombre, mujer, niño, se vende por partes separads"
	title= title
	meta(name="description", content=description)
	meta(name="application-name", content=title)
block content
	.blog-container
		.blog-content
			p.blog-content__title Our Blog
				.blog-content__nav
					ul.blog-content__nav-ul
						li.blog-content__nav-ul_li
							a.blog-content__nav-ul_li-a(href="#") All
						li.blog-content__nav-ul_li
							a.blog-content__nav-ul_li-a(href="#") Company
						li.blog-content__nav-ul_li
							a.blog-content__nav-ul_li-a(href="#") Brand
						li.blog-content__nav-ul_li
							a.blog-content__nav-ul_li-a(href="#") Fashion
						li.blog-content__nav-ul_li
							a.blog-content__nav-ul_li-a(href="#") Shop
			.blog-posts
				.blog-blogCard
					.blog-blogCard_imageContainer(style=`background-image: url(https://picsum.photos/id/64/500/500);`)
						p.blog-blogCard_imageContainer-date JUN 20
					p.blog-blogCard_title So isn't land signs greater void face replenish
					p.blog-blogCard_description Midst one brought greater also morning green saying had good. Open stars day let over gathered, grass face one every light of under.
					button.blog-blogCard_button(onclick="location.href='/blog-post.html'") Read More
				.blog-blogCard
					.blog-blogCard_imageContainer(style=`background-image: url(https://picsum.photos/id/65/500/500);`)
						p.blog-blogCard_imageContainer-date JUN 20
					p.blog-blogCard_title So isn't land signs greater void face replenish
					p.blog-blogCard_description Midst one brought greater also morning green saying had good. Open stars day let over gathered, grass face one every light of under.
					button.blog-blogCard_button(onclick="location.href='/blog-post.html'") Read More
				.blog-blogCard
					.blog-blogCard_imageContainer(style=`background-image: url(https://picsum.photos/id/66/500/500);`)
						p.blog-blogCard_imageContainer-date JUN 20
					p.blog-blogCard_title So isn't land signs greater void face replenish
					p.blog-blogCard_description Midst one brought greater also morning green saying had good. Open stars day let over gathered, grass face one every light of under.
					button.blog-blogCard_button(onclick="location.href='/blog-post.html'") Read More
				.blog-blogCard
					.blog-blogCard_imageContainer(style=`background-image: url(https://picsum.photos/id/67/500/500);`)
						p.blog-blogCard_imageContainer-date JUN 20
					p.blog-blogCard_title So isn't land signs greater void face replenish
					p.blog-blogCard_description Midst one brought greater also morning green saying had good. Open stars day let over gathered, grass face one every light of under.
					button.blog-blogCard_button(onclick="location.href='/blog-post.html'") Read More
				.blog-blogCard
					.blog-blogCard_imageContainer(style=`background-image: url(https://picsum.photos/id/68/500/500);`)
						p.blog-blogCard_imageContainer-date JUN 20
					p.blog-blogCard_title So isn't land signs greater void face replenish
					p.blog-blogCard_description Midst one brought greater also morning green saying had good. Open stars day let over gathered, grass face one every light of under.
					button.blog-blogCard_button(onclick="location.href='/blog-post.html'") Read More
				.blog-blogCard
					.blog-blogCard_imageContainer(style=`background-image: url(https://picsum.photos/id/69/500/500);`)
						p.blog-blogCard_imageContainer-date JUN 20
					p.blog-blogCard_title So isn't land signs greater void face replenish
					p.blog-blogCard_description Midst one brought greater also morning green saying had good. Open stars day let over gathered, grass face one every light of under.
					button.blog-blogCard_button(onclick="location.href='/blog-post.html'") Read More
				.blog-blogCard
					.blog-blogCard_imageContainer(style=`background-image: url(https://picsum.photos/id/70/500/500);`)
						p.blog-blogCard_imageContainer-date JUN 20
					p.blog-blogCard_title So isn't land signs greater void face replenish
					p.blog-blogCard_description Midst one brought greater also morning green saying had good. Open stars day let over gathered, grass face one every light of under.
					button.blog-blogCard_button(onclick="location.href='/blog-post.html'") Read More
				.blog-blogCard
					.blog-blogCard_imageContainer(style=`background-image: url(https://picsum.photos/id/71/500/500);`)
						p.blog-blogCard_imageContainer-date JUN 20
					p.blog-blogCard_title So isn't land signs greater void face replenish
					p.blog-blogCard_description Midst one brought greater also morning green saying had good. Open stars day let over gathered, grass face one every light of under.
					button.blog-blogCard_button(onclick="location.href='/blog-post.html'") Read More