extends ../templates/template
block navTop
	include ../blocks/navTop.pug
block header
	include ../blocks/header.pug
block noticeWeek
	include ../blocks/noticeWeek.pug
block articlesShop
	include ../blocks/articlesShop.pug
block charactericsShop
	include ../blocks/charactericsShop.pug
block collectionGarment
	include ../blocks/collectionGarment.pug
block topClothes
	include ../blocks/topClothes.pug
block discountSummer
	include ../blocks/discountSummer.pug
block commentBuyers
	include ../blocks/commentBuyers.pug
block shopper
	include ../blocks/shopper.pug
block footer
	include ../blocks/fotter.pug