extends ../templates/template
include ../blocks/shop/shopCard.pug
include ../blocks/shop/shopCoupon.pug
include ../blocks/shop/shopTotal.pug
block metatags
	-var title= "Shop | Sitio web de compra de ropa"
	-var description= "Este sitio contiene distintas modas de ropa estan categorisados por hombre, mujer, niño, se vende por partes separads"
	title= title
	meta(name="description", content=description)
	meta(name="application-name", content=title)
block content
	h1.shop-title Shopping Cart
	.shop-conteiner
		+shopCard
		+shopTotal
		+shopCoupon