img{max-width: 100%;}
.image-select{
  transition: .3s all ease-in-out;
  opacity: 1 !important;
  border-bottom: 3px solid #1e1e1e !important;
}
.container-product{
  border-top: 1px solid #cdcdcd;
}
.content-product{
  margin: auto;
  margin-bottom: 3rem;
  margin-top: 4rem;
  @media screen and (min-width: 1200px){
    width: 1200px;
  }
  @media screen and (max-width: 1200px){
    width: 90%;
  }
}
@keyframes opac {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.link-select{
  color: var(--colorFive) !important;
  background-color: transparent !important;
  border-bottom: 2px solid var(--colorFive) !important;
}
.contentItem2, .contentItem3{
  display:none;
}
.productData{
  @media screen and (min-width: 980px){
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &-galleryProduct{
    flex: 0 1 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    &_image{
      max-height: 700px;
      width: 100%;
      object-fit: cover;
    }
    &_smallImage{
      width: 100%;
      text-align: left;
      display: inherit;
      margin-top: 1rem;
      &-image{
        object-fit: cover;
        width: 100px;
        height: 100px;
        cursor: pointer;
        opacity: .7;
        border-bottom: 3px solid transparent;
        &:nth-child(2){
          margin: 0 1rem;
        }
      }
    }
  }
  &-information{
    &_header{
      margin-top: 2rem;
      @media screen and (min-width: 980px){
        margin-top: 0;
        flex: 0 1 44%;
      }
      &-divsn1{
        &_titleTop{
          display: flex;
          justify-content: space-between;
          &-title{
            font-size: 14px;
            color: #727272;
            margin: 0;
          }
          &-iconStars{
            display: flex;
            &_stars{
              margin-right: 12px;
              & i{
                font-size: 14px;
              }
            }
            &_reviews{
              margin: 0;
            }
          }
        }
        &_title{
          margin: 0.5rem 0;
          font-size: 28px;
        }
        &_price{
          display: flex;
          justify-content: flex-start;
          margin-top: 1rem;
          &-valueDescount{
            
          }
          &-value{
            margin: 0 0.7rem;
          }
          &-valueText {
          }
          & p {
            margin: 0;
          }
        }
      }
      &-divsn2{
        margin-top: 2.9rem;
        &_colorContent{
          &-text{
            margin: 0;
            margin-bottom: 1rem;
          }
        }
        &_imagesContent{
          img:nth-child(2) {
            margin-left: 20px;
          }
        }
      }
      &-divsn3{
        margin-top: 3rem;
        &_size{
          margin: 0;
          margin-bottom: 1.3rem;
        }
        &_buttons{
          display: grid;
          justify-content: flex-start;
          grid-template-columns: repeat(8, auto);
          margin-bottom: 0.9rem;
          @media screen and (max-width: 470px){
            grid-template-columns: repeat(5, auto);
          }
          @media screen and (max-width: 300px){
            grid-template-columns: repeat(4, auto);
          }
          &-btn{
            margin-right: 10px;
            margin-bottom: 10px;
            border: 1px solid #c3c3c3;
            padding: 0.7rem;
            font-size: 1.1rem;
            min-width: 44px;
            max-height: 44px;
            background-color: transparent;
            color: #666666;
            cursor: pointer;
          }
        }
        &_popupSize{
          text-decoration: none;
          border-bottom-color: #212121;
          border-bottom-width: 2px;
          border-bottom-style: solid;
          position: relative;
          padding-left: 0px;
          margin-left: 2.5rem;
          color: #212121;
          font-size: 15px;
          &:before{
            font-family: 'Font Awesome 5 free';
            content: "\f547";
            font-size: 1.5rem;
            font-weight: bold;
            text-decoration: none;
            position: absolute;
            left: -2.5rem;
          }
        }
      }
      &-divsnButtons{
        margin: 3rem 0;
        display: flex;
        justify-content: flex-start;
        @media screen and (max-width: 470px){
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        &_numProducts{
          padding: 0.69rem 0;
          font-size: 1rem;
          flex: .3;
          border: 1px solid #CCC;
          @media screen and (max-width: 470px){
            width: 100%;
          }
        }
        &_btnCar{
          margin: 0 1.5rem;
          font-size: 1rem;
          background-color: #000000;
          border: 0;
          color: #FFF;
          flex: .9;
          &:after{
            font-family: 'Font Awesome 5 free';
            content: "\f07a";
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
            margin-left: 12px;
          }
          @media screen and (max-width: 470px){
            width: 100%;
            padding: 0.9rem;
            margin: 1rem 0;
          }
        }
        &_btnHeart{
          padding: 0.69rem 0;
          font-size: 1rem;
          background-color: #FFF;
          border: 1px solid #000;
          color: #000000;
          flex: .6;
          &:after{
            font-family: 'Font Awesome 5 free';
            content: "\f004";
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
            margin-left: 12px;
          }
          @media screen and (max-width: 470px){
            width: 100%;
            padding: 0.9rem;
          }
        }
      }
      &-divsn4{
        margin: 0;
        color: #383838;
        & a {
          color: #000;
        }
      }
      &-share{
        margin-top: 2.5rem;
        display: flex;
        align-items: center;
        &_text{
          margin: 0;
          margin-right: 1.5rem;
          font-size: 15px;
        }
        &_content{
          display: flex;
          align-items: center;
          &-link{
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f2f2f2;
            border-radius: 50%;
            text-decoration: none;
            &_Icon{
              color: #9d9d9d;
              font-size: 13px;
            }
            &:nth-child(2) {
              margin: 0 0.5rem;
            }
          }
        }
      }
    }
  }
  &-tabs{
    margin-top: 5rem;
    &-buttons{
      background-color: transparent;
      display: flex;
      justify-content: center;
      border-bottom: 1px solid #cdcdcd;
      &_btn{
        text-decoration: none;
        color: #000;
        font-size: 15px;
        transition: .3s ease-in-out;
        background-color: transparent;
        cursor: pointer;
        padding: 0.6rem 0.4rem;
        font-weight: 600;
        padding-bottom: 17px;
        border-bottom: 1px solid transparent;
        &:hover{
          color: #f5f5f5;
          background-color: #e73131;
        }
        &:nth-child(2) {
            margin: 0 1.5rem;
        }
      }
    }
    &-contentButtons{
      border-top: 0px;
      padding-top: 2rem;
      margin: auto;
      width: 70%;
      @media screen and (max-width: 980px){
        width: 90%;
      }
      &_content{
        padding: .9rem;
        animation: opac 0.8s;
        &-title{
          color: #212121;
          font-size:25px;
          margin-bottom: .5rem;
        }
        &-text{
          color: var(--colorThree);
          text-align: justify;
          width: 100%;
          margin-bottom: 2rem;
       }
       &-left{
        width: 45%;
        display: inline-block;
        text-align: left;
        &_text {
          color: var(--colorThree);
          margin-bottom: 5px;
          & strong {
            color: #000;
          }
        }
       }
       &-right {
        width: 46%;
        display: inline-block;
        text-align: left;
        &_text {
          color: var(--colorThree);
          margin-bottom: 5px;
          & strong {
            color: #000;
          }
        }
       }
       &-cnt {
        display: flex;
        justify-content: center;
       }
       &-ul{
        flex: 0 0 40%;
        padding-left: 0;
        list-style: none;
        margin-right: 4rem;
        &_title{
          font-weight: bold;
          font-size: 15px;
          margin-bottom: 1rem;
        }
        &_li{
          margin-left: 2rem;
          list-style: outside;
          color: var(--colorThree);
          margin-bottom: 5px;
        }
       }
       &-dataProduct{
        &_title{
          font-weight: bold;
          font-size: 15px;
          margin-bottom: 1rem;
        }
        &_text{
          color: var(--colorThree);
          margin-bottom: 5px;
        }
       }
       &-table{
          border: 1px solid #ccc;
          border-collapse: collapse;
          margin: 0;
          padding: 0;
          width: 100%;
          table-layout: fixed;
          @media screen and (max-width: 600px) {
            border: 0;
          }
          &_head{
            @media screen and (max-width: 600px) {
              border: none;
              clip: rect(0 0 0 0);
              height: 1px;
              margin: -1px;
              overflow: hidden;
              padding: 0;
              position: absolute;
              width: 1px;
            }
            &-tr{
              background-color: #FFF;
              border: 1px solid #ddd;
              padding: 0.35em;
              @media screen and (max-width: 600px) {
                border-bottom: 3px solid #ddd;
                display: block;
                margin-bottom: .625em;
              }
              &_th{
                padding: 1rem 0.9em;
                text-align: left;
                font-size: 13px;
                letter-spacing: .1em;
                text-transform: uppercase;
                border-right: 1px solid #ddd;
                @media screen and (max-width: 600px) {
                  border-right: 0px solid;
                }
                &:nth-child(1){
                  width: 120px;
                }
                &:nth-child(3){
                  width: 80px;
                }
              }
            }
          }
          &_body{
            &-tr{
              background-color: #FFF;
              border: 1px solid #ddd;
              padding: .35em;
              @media screen and (max-width: 600px) {
                border-bottom: 3px solid #ddd;
                display: block;
                margin-bottom: .625em;
              }
              &_td{
                padding: 1rem 0.9em;
                font-size: 15px;
                text-align: left;
                border-right: 1px solid #ddd;
                @media screen and (max-width: 600px) {
                  border-bottom: 1px solid #ddd;
                  border-right: 0px solid;
                  display: block;
                  font-size: .8em;
                  text-align: right;
                }
                &:before{
                  @media screen and (max-width: 600px){
                    content: attr(data-label);
                    float: left;
                    font-weight: bold;
                    text-transform: uppercase;
                  }
                }
                &:last-child {
                  @media screen and (max-width: 600px){
                    border-bottom: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &-comments{
    &_top{
      margin-top: 5rem;
      &-title{
        margin: 0;
        text-align: center;
      }
      &-activation{
        display: flex;
        justify-content: space-between;
        margin-top: 4rem;
        @media screen and (max-width: 570px){
          flex-direction: column;
          align-items: start;
        }
        &_btnOrder{
          padding: 0;
          text-align: left;
          border: 0;
          background-color: transparent;
          font-size: 15px;
          font-weight: 550;
        }
        &_starsReview{
          display: flex;
          align-items: center;
          @media screen and (max-width: 570px){
            margin: 1rem 0;
          }
          &-stars{
            & i {
              font-size: 1.2rem;
            }
          }
          &-text{
            margin: 0;
            margin-left: 1rem;
            font-size: 15px;
            font-weight: bold;
          }
        }
        &_btnWrite{
          border: 0;
          font-size: 15px;
          background-color: #212121;
          color: white;
          font-weight: bold;
          padding: 0.9rem 1.4rem;
        }
      }
    }
    &_comment{
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      border: 1px solid #dedede;
      padding: 2rem;
      margin: 2rem 0;
      @media screen and (max-width: 680px){
        display: block;
      }
      &-imageUser{
        flex: 0 0 145px;
        &_img{
          width: 110px;
          height: 110px;
          border-radius: 50%;
          @media screen and (max-width: 680px){
            width: 70px;
            height: 70px;
          }
        }
      }
      &-data{
        flex: 0 0 80%;
        &_stars{
          & i{
            
          }
        }
        &_userPublication{
          margin-top: 6px;
          color: #5c5c5c;
          font-size: 15px;
        }
        &_commentUser{
          margin-top: 2rem;
          &-titleComment{
            margin: 0;
            margin-bottom: 1rem;
            font-weight: bold;
            font-size: 17px;
          }
          &-textComment{
            margin: 0;
            font-size: 15px;
            color: #252525;
          }
        }
        &_activeUser{
          margin-top: 2rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          &-left{
            display: flex;
            align-items: center;
            &_motivation{
              margin: 0;
              margin-right: 2rem;
              font-size: 14px;
              @media screen and (max-width: 680px){
                display: none;
              }
            }
            &_interaction{
              &-like{
                text-decoration: none;
                color: #212121;
                font-size: 16px;
                &:first-child {
                  margin-right: 1rem;
                }
                & i {
                  
                }
                & span {
                  
                }
              }
            }
          }
          &-right{
            display: flex;
            align-items: center;
            &_numberComments{
              margin: 0;
              @media screen and (max-width: 680px){
                display: none;
              }
            }
            &_btn {
              margin-left: 2rem;
              padding: 0.7rem 0.6rem;
              font-weight: 550;
              font-size: 14px;
              border: 1px solid #c1c1c1;
              background-color: transparent;
              cursor: pointer;
              @media screen and (max-width: 680px){
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }
  &-likePorducts{
    margin-top: 6rem;
    &_title{
      text-align: center;
      margin-bottom: 4rem;
      font-size: 25px;
      font-weight: bold;
      line-height: 1em;
    }
    &_products{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      @media screen and (max-width: 980px){
        grid-template-columns: repeat(2, 1fr);
      }
      @media screen and (max-width: 680px){
        grid-template-columns: repeat(1, 1fr);
      }
      & .topClothes-card{
        width: 90%;
        margin: auto;
        @media screen and (max-width: 980px){
          width: 70%;
        }
        @media screen and (max-width: 680px){
          width: 90%;
        }
        &__img{
          padding: 10em 0px;
        }
      }
    }
  }
}
