// @media screen and (max-width: 480px) {}
.shopCoupon{
  &-container{
    flex: 1 0 100%;
    display: flex;
    @media screen and (min-width: 980px){
      flex: 0 0 64%;
    }
    @media screen and (max-width: 480px) {
      flex-direction: column;
    }
  }
  &-left{
    width: 65%;
    @media screen and (max-width: 480px) {
      width: 100%;
    }
    &_title{
      font-weight: 600;
      font-size: 14px;
      color: #1f1f1f;
      margin-bottom: 10px;
    }
    &_inputs{
      display: flex;
      &-inputText{
        border: 1px solid #d9d9d9;
        outline: transparent;
        color: #5e5e5e;
        font-size: 14px;
        padding: 0.8rem 0.9rem;
        width: 100%;
        margin-right: 20px;
        @media screen and (max-width: 480px) {
          width: 100%;
          margin-bottom: 1rem;
          margin-right: 0;
        }
      }
      &-inputButton{
        @include button(tertiary);
        &:after{display:none;}
      }
      @media screen and (max-width: 480px) {
        flex-direction: column;
      }
    }
  }
  &-right{
    width: 35%;
    display: flex;
    align-items: end;
    justify-content: flex-end;
    @media screen and (max-width: 480px) {
      width: 100%;
      margin-top: 1rem;
    }
    &_buttonUpdate{
      background-color: transparent;
      color: #1f1f1f;
      padding: 1em 1.5em;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 1px;
      border: 1px solid #1f1f1f;
      font-family: 'Segoe UI';
      cursor: pointer;
      width: 150px;
      @media screen and (max-width: 480px) {
        width: 100%;
      }
    }
  }
}