.aboutSlide{
	width: 80%;
	margin: auto;
	&-item{
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    height: calc(100vw / 4);
    display: flex;
    align-items: center;
    justify-content: center;
		&_text{
			color: var(--colorTwo);
	    font-size: 40px;
	    text-align: center;
	    font-weight: 600;
	    flex: 0 1 340px;
    	line-height: 1em;
    	@media screen and (max-width: 780px){
    		 font-size: 1.4rem;
    	}
		}
		@media screen and (max-width: 780px){
			height: calc(100vw / 3);
		}
	}
}