.aboutReflexion{
	&-container{
		display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 3rem;
	}
	&-content{
		background-image: url(img/bg-refle.png);
    flex: 1 0 calc(100vh / 2.6);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
		&_text{
			flex: 0 1 75%;
	    text-align: center;
	    color: var(--colorTwo);
	    font-size: var(--base);
	    line-height: 1.8rem;
	    @media screen and (min-width: 480px){
	    	font-size: var(--title3);
	    }
		}
	}
}