include ../components/articlesShopItem
mixin articlesShop
	.articlesShop-container
		.articlesShop-content
			.articlesShop-one 
				+articlesShopItem('https://picsum.photos/id/37/800/700', 'Women')
				+articlesShopItem('https://picsum.photos/id/38/800/700', 'Kid')
				+articlesShopItem('https://picsum.photos/id/39/800/700', 'Men')