include ../components/articlesShopItem.pug
block articlesShop
	.articlesShop-content
		.articlesShop-one 
			+articlesShopItem('./img/women-shop.jpg', 'Women')
			+articlesShopItem('./img/women-shop.jpg', 'Kid')
			+articlesShopItem('./img/women-shop.jpg', 'Men')