mixin charactericsShop
	.charactericsShop-container
		.charactericsShop-content
			.charactericsShop-item
				i.fas.fa-car.charactericsShop-item__icon
				p.charactericsShop-item__title FREE SHOPPING
				p.charactericsShop-item__subtext From all orders over $100
			.charactericsShop-item
				i.fas.fa-exchange-alt.charactericsShop-item__icon
				p.charactericsShop-item__title FREE RETURNS
				p.charactericsShop-item__subtext Return money within 30 days
			.charactericsShop-item
				i.fas.fa-lock.charactericsShop-item__icon
				p.charactericsShop-item__title SECURE SHOPPING
				p.charactericsShop-item__subtext You're in safe hands
			.charactericsShop-item
				i.fas.fa-tag.charactericsShop-item__icon
				p.charactericsShop-item__title OVER 10,000 STYLES
				p.charactericsShop-item__subtext We have everything you need