include ../components/collectionImage
block collectionGrament
	.collectionGarment-content
		.collectionGarment-smallTitle
			p.collectionGarment-smallTitle_text NEW COLLECTION
		.collectionGarment-title
			p.collectionGarment-title_text Best Picks 2019
		.collectionGarment-description
			p.collectionGarment-description_text Appear, dry there darkness they're seas, dry waters thing fly midst. Beast, <br> above fly brought Very green.
		.collectionGarment-collectionImage
			+collectionImage('img/women.jpg', 'Bags Collection', 'one')
			+collectionImage('img/women.jpg', 'Bags Collection', 'two')
			+collectionImage('img/women.jpg', 'Bags Collection', 'three')
			+collectionImage('img/women.jpg', 'Bags Collection', 'four')