mixin discountSummer
	.discountSummer-container
		.discountSummer-content
			.discountSummer-content__left
			.discountSummer-content__right
				p.discountSummer-content__right-title Get -50% from<br>Summer Collection
				.discountSummer-content__right-dateCount
					.discountSummer-content__right-dateCount_day
						p.discountSummer-content__right-dateCount_day-number 0-331
						p.discountSummer-content__right-dateCount_day-text DAYS
					.discountSummer-content__right-dateCount_day
						p.discountSummer-content__right-dateCount_day-number 0-18
						p.discountSummer-content__right-dateCount_day-text HOURS
					.discountSummer-content__right-dateCount_day
						p.discountSummer-content__right-dateCount_day-number 0-47
						p.discountSummer-content__right-dateCount_day-text MINUTES
					.discountSummer-content__right-dateCount_day
						p.discountSummer-content__right-dateCount_day-number 0-56
						p.discountSummer-content__right-dateCount_day-text SECONDS
				.discountSummer-content__right-btnContainer
					button.discountSummer-content__right-btnContainer_btn Shop Now