mixin navTop
	.navTop-container
		.navTop-content
			.navTop-content__logo
				.navTop-content__logo-left
					i.fas.fa-car.navTop-content__logo-left_icon
					p.navTop-content__logo-left_text FREE SHOPPING WORLDWIDE
				#toggleNav.navTop-content__logo-right
					a#navToggleBtn.navTop-content__logo-right_button.toggle(href="#")
						i.fas.fa-bars
			.navTop-content__right#navToggle.navToggle.toggle
				.navTop-content__optionNav
					.navTop-content__optionNav-languageAndValue
						button.navTop-content__optionNav-languageAndValue_btn
							div.navTop-content__optionNav-languageAndValue_btnContainer
								i.fas.fa-globe-europe.navTop-content__optionNav-languageAndValue_btn-icon
								p.navTop-content__optionNav-languageAndValue_btn-text United State
							i.fas.fa-chevron-down.navTop-content__optionNav-languageAndValue_btn-icon.icon-down
					.navTop-content__optionNav-languageAndValue
						button.navTop-content__optionNav-languageAndValue_btn
							p.navTop-content__optionNav-languageAndValue_btn-text USD
							i.fas.fa-chevron-down.navTop-content__optionNav-languageAndValue_btn-icon.icon-down
					.navTop-content__optionNav-languageAndValue
						button.navTop-content__optionNav-languageAndValue_btn
							p.navTop-content__optionNav-languageAndValue_btn-text English
							i.fas.fa-chevron-down.navTop-content__optionNav-languageAndValue_btn-icon.icon-down
				.navTop-content__optionNav-contact
					p.navTop-content__optionNav-contact_contactText Shopping
					p.navTop-content__optionNav-contact_contactText FAQ
					p.navTop-content__optionNav-contact_contactText Contact
				.navTop-content__iconsSocial
					i.fab.fa-facebook.navTop-content__iconsSocial-icon
					i.fab.fa-twitter.navTop-content__iconsSocial-icon
					i.fab.fa-instagram.navTop-content__iconsSocial-icon
					i.fab.fa-medium.navTop-content__iconsSocial-icon