block shooper
	.shopper-content
		img.shopper-img(src="./svg/adidas.svg")
		img.shopper-img(src="./svg/asos.svg")
		img.shopper-img(src="./svg/bershka.svg")
		img.shopper-img(src="./svg/mango.svg")
		img.shopper-img(src="./svg/reebok.svg")
		img.shopper-img(src="./svg/stradivarius.svg")
		img.shopper-img(src="./svg/zara.svg")