include ../components/topClothes
block topClothes
	.topClothes-content
		.topClothes-top
			p.topClothes-top__title Top month Sellers
			.topClothes-top__nav
				ul.topClothes-top__nav-ul
					li.topClothes-top__nav-ul_li
						a.topClothes-top__nav-ul_li-a(href="#") Women
					li.topClothes-top__nav-ul_li
						a.topClothes-top__nav-ul_li-a(href="#") Men
					li.topClothes-top__nav-ul_li
						a.topClothes-top__nav-ul_li-a(href="#") Kids
		.topClothes-contentCard
			+topClothes('img/women.jpg', 'Shoes', 'Leather mid-heel Sandals', '129.00')
			+topClothes('img/women.jpg', 'Shoes', 'Leather mid-heel Sandals', '129.00')
			+topClothes('img/women.jpg', 'Shoes', 'Leather mid-heel Sandals', '129.00')
			+topClothes('img/women.jpg', 'Shoes', 'Leather mid-heel Sandals', '129.00')
			+topClothes('img/women.jpg', 'Shoes', 'Leather mid-heel Sandals', '129.00')
			+topClothes('img/women.jpg', 'Shoes', 'Leather mid-heel Sandals', '129.00')
			+topClothes('img/women.jpg', 'Shoes', 'Leather mid-heel Sandals', '129.00')
			+topClothes('img/women.jpg', 'Shoes', 'Leather mid-heel Sandals', '129.00')