mixin collectionImage(img, text, classNumber)
	div.collectionGarment__collectionImage(style=`background-image: url(${img});`, class=`collectionGarment__collectionImage-${classNumber}`)
		p.collectionGarment__collectionImage-title= text
		button.collectionGarment__collectionImage-button Shop Now