include ../blocks/navTop.pug
include ../blocks/header.pug
include ../blocks/fotter.pug
doctype html
html(lang="es")
	head
		title=title
		meta(name="viewport" content="width=device-width,user-scalable=no, initial-scale=1")
		meta(charset="UTF-8")
		block metatag
		link(rel="stylesheet", href="fontawesome.min.css")
		link(rel="stylesheet", href="glider.min.css")
		link(rel="stylesheet", href="styles.css")
		script(src="glider.min.js")
	body
		+navTop
		+header
		block content
		+footer
	script(src="/reload/reload.js")
	script(src="script.js")