mixin shopTotal
	section.shopTotal-container
		.shopTotal-top
			.shopTotal-top_division1
				p.shopTotal-top_division1-text Subtotal
				p.shopTotal-top_division1-value 89.00
			.shopTotal-top_division2
				p.shopTotal-top_division2-text Tax
				p.shopTotal-top_division2-value 00.00
			.shopTotal-top_division3
				p.shopTotal-top_division3-text Total
				p.shopTotal-top_division3-value 89.00
			.shopTotal-top_division4
				p.shopTotal-top_division4-text Shipping cost calculated at Checkout *
		.shopTotal-center
			button.shopTotal-center_btnCheckout Proceed to Checkout
		.shopTotal-bottom
			button.shopTotal-bottom_btnLeft Continue Shopping