mixin shopCard
	section.shopCard-container
		.shopCard
			.shopCard-left
				.shopCard-left_imageContainer
					img.shopCard-left_imageContainer-img(src="https://picsum.photos/id/35/140/170")
			.shopCard-right
				.shopCard-right_top
					p.shopCard-right_top-title Cotton floral print
					p.shopCard-right_top-price 40.00
				.shopCard-right_center
					p.shopCard-right_center-size Size: M
					p.shopCard-right_center-color Color: Red
				.shopCard-right_bottom
					select.shopCard-right_bottom-select
						option.shopCard-right_bottom-select-option(value="1") 1
						option.shopCard-right_bottom-select-option(value="2") 2
						option.shopCard-right_bottom-select-option(value="3") 3
					button.shopCard-right_bottom-remove
						i.fas.fa-times.shopCard-right_bottom-remove-icon
						p.shopCard-right_bottom-remove-text Remove
		.shopCard
			.shopCard-left
				.shopCard-left_imageContainer
					img.shopCard-left_imageContainer-img(src="https://picsum.photos/id/36/140/170")
			.shopCard-right
				.shopCard-right_top
					p.shopCard-right_top-title Suede cross body Bag
					p.shopCard-right_top-price 49.00
				.shopCard-right_center
					p.shopCard-right_center-color Color: Red
				.shopCard-right_bottom
					select.shopCard-right_bottom-select
						option.shopCard-right_bottom-select-option(value="1") 1
						option.shopCard-right_bottom-select-option(value="2") 2
						option.shopCard-right_bottom-select-option(value="3") 3
					button.shopCard-right_bottom-remove
						i.fas.fa-times.shopCard-right_bottom-remove-icon
						p.shopCard-right_bottom-remove-text Remove