mixin aboutStory
	section.aboutStory-container
		.aboutStory-content
			.aboutStory-content_left
				img(src="https://picsum.photos/id/13/400/500")
				img(src="https://picsum.photos/id/14/350/500")
			.aboutStory-content_right
				p.aboutStory-content_right-smallTitle OUR STORY
				p.aboutStory-content_right-title About our Story
				p.aboutStory-content_right-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod	tempor incididunt ut labore et dolore magna aliqua.