mixin aboutSomos
	section.aboutSomos-container
		.aboutSomos-content
			.aboutSomos-content_right
				p.aboutSomos-content_right-smallTitle WHO WE ARE
				p.aboutSomos-content_right-title Our Story
				p.aboutSomos-content_right-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod	tempor incididunt ut labore et dolore magna aliqua.
			.aboutSomos-content_left
				img(src="https://picsum.photos/id/14/350/500")
				img(src="https://picsum.photos/id/13/400/500")