mixin aboutGallery
	section.aboutGallery-container
		div.aboutGallery-content
			.aboutGallery-content_left
				img.aboutGallery-content_left-img1(src="https://picsum.photos/id/15/350/500")
				img.aboutGallery-content_left-img2(src="https://picsum.photos/id/16/350/500")
			.aboutGallery-content_right
				img.aboutGallery-content_right-img3(src="https://picsum.photos/id/17/350/500")
				img.aboutGallery-content_right-img4(src="https://picsum.photos/id/18/350/500")