mixin aboutDemocracy
	section.aboutDemocracy-container
		.aboutDemocracy-content
			p.aboutDemocracy-content_title Fashion Democracy
			.aboutDemocracy-content_texts
				.aboutDemocracy-content_texts-left
					p.aboutDemocracy-content_texts-left_text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea ommodo consequat uis nostrud exercitation ullamco laboris nisi ut <br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.aboutDemocracy-content_texts-right
					p.aboutDemocracy-content_texts-right_text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea ommodo consequat uis nostrud exercitation ullamco laboris nisi ut <br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			.aboutDemocracy-content_buttonContent
				button.aboutDemocracy-content_buttonContent-button Shop Now