mixin aboutReflexion
	section.aboutReflexion-container
		.aboutReflexion-content
			p.aboutReflexion-content_text Together won't divided fourth let grass above forth. Creature midst let cattle place tree. Gathered whose land from fruitful under bring creeping in upon void man unto divided itself gathered.